#pascal {
    flex-direction: column;
    display: flex;
    
}

.sor {
    flex-direction: row;
    display: flex;
    /*margin: auto;*/
    justify-content: center;
}

.elem {
    width: 30px;
    height: 30px;
    background-color: fuchsia;
    text-align: center;
    margin: 5px;
}
